/* 애니메이션 */
@keyframes scroll {
  2% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-2697px);
  }
  100% {
    transform: translatey(0);
  }
}
.webscroll {
  animation: scroll 40s 99999;
  animation-timing-function: linear;
}
@keyframes gainsld {
  2% {
    transform: translate(0);
  }
  50% {
    transform: translate(-6600px);
  }
  100% {
    transform: translate(0);
  }
}
.gainsld {
  animation: gainsld 40s 99999;
  animation-timing-function: linear;
}
@keyframes la {
  0% {
    height: 30px;
  }
  100% {
    height: 650px;
  }
}
.la {
  animation: la 2s 1;
}
@keyframes garo {
}
/* @keyframes centi */
/* 개인 프로젝트 */
.gaintitle {
  font-family: "DXKPMB-KSCpc-EUC-H";
  font-size: 70px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.gainsircle {
  font-family: "DXKPMB-KSCpc-EUC-H";
  background-color: #e4d2fc;
  color: #909090;
  width: 200px;
  height: 200px;
  border-radius: 190px;
  border: 5px solid #909090;
  font-size: 25px;
  text-align: center;
  line-height: 200px;
}
.line {
  margin-left: 100px;
  height: 30px;
  width: 1100px;
  border-left: 5px solid #909090;
  position: relative;
  overflow: hidden;
  animation-fill-mode: forwards;
  background: linear-gradient(to right, #e4d2fc, white);
}
.slide {
  width: 600px;
  height: 450px;
  position: absolute;
  right: 245px;
  bottom: 150px;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 5px 5px 5px 5px gray;
}
.contain {
  width: 7200px;
  display: flex;
}
.inner {
  width: 600px;
}
.projecttxt {
  font-family: "DXKPMB-KSCpc-EUC-H";
  position: absolute;
  opacity: 0;
  animation-fill-mode: forwards;
}
#projecttxt1 {
  left: 220px;
  bottom: 10px;
}
#projecttxt2 {
  left: 220px;
  bottom: 10px;
}
/* 학습한 것 */
.jabji {
  background-color: white;
  width: 600px;
  height: 424px;
  position: absolute;
  right: 245px;
  bottom: 150px;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 5px 5px 5px 5px gray;
}
#classsirclefirst,
#classsirclesecond,
#fnjd {
  background-color: #443655;
  color: white;
}
#fourthline,
#fivthline {
  background: linear-gradient(to right, #443655, white);
}
#fnjd {
  margin-bottom: 200px;
}
.classtxt {
  font-family: "DXKPMB-KSCpc-EUC-H";
  position: absolute;
  color: white;
  opacity: 0;
  animation-fill-mode: forwards;
}
#classtxt1 {
  bottom: 20px;
  left: 220px;
}
#classtxt2 {
  bottom: 50px;
  left: 220px;
}
