@keyframes hani {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
  }
}
.hani {
  animation: hani 0.5s 1;
}
@keyframes kam {
  0% {
    background-color: #d8d8d8;
  }
  50% {
    opacity: 0.5;
    background-color: coral;
  }
  100% {
    background-color: #d8d8d8;
  }
}
.kam {
  animation: kam 2s infinite;
}
.mbutton {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  height: 150px;
  border-bottom: 3px groove grey;
  margin-bottom: 40px;

  /* justify-content: center; */
}
body {
  background-color: #d8d8d8;
}
.mbtn {
  font-size: 50px;
  line-height: 100px;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  text-align: center;
  font-family: "DXKPMB-KSCpc-EUC-H";
  margin: auto;
}
.mbtnbox {
  width: 300px;
  height: 100px;
  margin: 10px;
}
.containBox {
  width: 5200px;
  display: flex;
  flex-direction: row;
  transform: translate(-10000px);
}
.gain,
.monjung,
.juje {
  font-family: "DXKPMB-KSCpc-EUC-H";
  position: relative;
}
.gaintitle,
.monjungtitle,
.jujetitle {
  font-size: 50px;
  height: 60px;
  margin-top: 10px;
}
.sldbox {
  height: 400px;
  width: 700px;
  border: 1px solid black;
  margin: 100px;
  margin-left: 0px;
}
.gaincomment,
.monjungcomment,
.jujecomment {
  position: absolute;
  left: 780px;
  top: 160px;
  height: 400px;
  width: 500px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.comment {
  margin-top: 15%;
}
